<fieldset>
  <legend>Where?</legend>
  <ol>
    <li>
      <%= f.label :from_location_id, :class => 'span-3' %>
      <%= collection_select(:trip, :from_location_id, Location.all_cities, :id, :name, {:prompt => 'Select City'}) %>
    </li>
    <li>
      <%= f.label :to_location_id, :class => 'span-3' %>
      <%= collection_select(:trip, :to_location_id, Location.all_cities, :id, :name, {:prompt => 'Select City'}) %>
    </li>
  </ol>
</fieldset>
<fieldset>
  <legend>When?</legend>
  <ol>
    <li>
      <%= f.label :trip_date %>
      <%= date_select("trip","trip_date", { :order => [:day, :month, :year] }) %>
    </li>
    <li>
      <%= f.label :time_of_day %>
      <%= f.radio_button :time_of_day, "E" %>
      Exact Time
      <%= f.radio_button :time_of_day, "M" %>
      Morn
      <%= f.radio_button :time_of_day, "A" %>
      A/noon
    </li>
    <li id="liTripTime">
      <%= f.label :trip_time %>
      <%= time_select("trip","trip_time", {:minute_step => 15}) %>
    </li>
  </ol>
</fieldset>
<fieldset>
  <legend>Other Details</legend>
  <ol>
    <li>
    <%= label :trip, :driver %>
    <%= text_field :trip, :driver, :disabled => true, :class => "text", :value => driver_name %>
    </li>
    <!--
    <li>
      <%= f.label :seats, "Seats Avail" %>
      <%= select(:trip, :seats, seat_options) %>
    </li>
    -->
    <li>
      <%= f.label :cost, "Cost (Per Per)" %>
      <%= select(:trip, :cost, cost_options) %>
    </li>
    <li>
      <%= f.label :trip_details %>
      <%= f.text_area :trip_details, :resize => false, :class => "text", :rows => 5 %>
    </li>
    <li>
      <%= check_box "misc", :post_to_wall, :checked => true %> Post trip to my facebook wall, so my friends can see it<br/>
    </li>
  </ol>

  <!-- used when manually creating trips from queued_posts -->
  <% if post_id %>
  <input id="hid_post_id" name="hid[post_id]" type="hidden" value="<%= post_id %>" />
  <% end %>
</fieldset>

<%= hidden_field :trip, :trip_distance %>
<%= hidden_field :trip, :trip_duration %>
<%= hidden_field :trip, :driver_id %>

<div class="actions ui-style">
  <%= f.submit %>
</div>

