
<table class="dataTable">
  <tr>
    <th></th>
    <th><%= t :leaving %></th>
    <th><%= t :from %></th>
    <th><%= t :to %></th>
    <th><%= t :cost %></th>
    <th></th>
    <th></th>
  </tr>

<% @trips.each do |trip| %>
  <tr>
    <td class="col1"><%= l trip.trip_date, :format => :very_short %></td>
    <td class="deptime col2"><%= trip.dis_trip_time %></td>
    <td class="col3"><%= trip.from_location.name %></td>
    <td class="col4"><%= trip.to_location.name %></td>
    <td><%= number_to_currency(trip.cost, :precision => 0) if trip.cost != 0 %></td>
    <!-- <td><%= link_to 'Destroy', trip, :confirm => 'Are you sure?', :method => :delete %></td> -->

    <td>
      <div class="customTooltip">
        <span>
          <img style="width:25px;" src="<%= trip.driver.fb_pic_url %>">
        </span>
      </div>
      <%= render 'tool_tip', :trip => trip %>
    </td>

    <td><%= link_to(t(:more), trip_path(trip), :class => 'load_dialog') %></td>
  </tr>
<% end %>
</table>

<br/>
<div class="paging_links digg_pagination" >
  <%= will_paginate @trips %>
</div>

<script>
  $('.load_dialog').click(function(e) {
    var url = $(this).attr('href');
    var dialog_form = $('<div id="dialog-form">Loading form...</div>').dialog({
      autoOpen: false,
      width: 900,
      modal: true,
      height: 460,
      open: function() {
        return $(this).load(url + ' #show-content');
      },
      close: function() {
        $('#dialog-form').remove();
      }
    });
    
    dialog_form.dialog('open');
    e.preventDefault();
  });


</script>

