
<div class="sixteen columns">
	<fieldset>
			<legend><%= t "headings.my_trips" %></legend>

        <% if @trips.count > 0 %>
          <table class="dataTable">
            <tr>
              <th></th>
              <th><%= t :leaving %></th>
              <th><%= t :from %></th>
              <th><%= t :to %></th>
              <th><%= t :cost %></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>

          <% @trips.each do |trip| %>
            <tr>
              <td class="col1"><%= l trip.trip_date, :format => :very_short %></td>
              <td class="deptime col2"><%= trip.dis_trip_time %></td>
              <td class="col3"><%= trip.startable.to_s %></td>
              <td class="col4"><%= trip.endable.to_s %></td>
              <td><%= trip.cost %></td>
              <td>
                <div class="customTooltip">
                  <span>
                    <img style="width:25px;" src="<%= trip.driver.fb_pic_url %>">
                  </span>
                </div>
                <%= render 'tool_tip', :trip => trip %>
              </td>
              <td><%= link_to 'Show', trip_path(trip) %></td>
              <td><%= link_to 'Delete', trip, :confirm => 'Are you sure?', :method => :delete %></td>
              <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
            </tr>
          <% end %>
          </table>
        <% else %>
          <p><%= t :no_trips_msg %></p>

        <% end %>
	</fieldset>
</div>

