<div id="show-content" class="sixteen columns">
    <% if (params[:popup] == 'true')  %> 
      <div class="three columns alpha">
    <% else %>
      <div class="three columns alpha">
    <% end %>
    <fieldset>
      <legend><%= t "headings.trip_summary" %></legend>
      <ol>
        <li>
          <label><%= t :from %>:</label>
          <%= @trip.startable.to_s %>
        </li>
        <li>
          <label><%= t :to %>:</label>
          <%= @trip.endable.to_s %>
        </li>
        <li>
          <label><%= t :departing %>:</label>
          <b><%= departing_time %></b>
        </li>
        <li>
          <label><%= t :arriving %>:</label>
          <%= arrival_time %>
        </li>
        <li>
          <label><%= t :cost %>:</label>
          <%= number_to_currency(@trip.cost, :precision => 0) %>
        </li>
        <li>
          <label><%= t :distance %>:</label>
          <%= trip_distance %>
        </li>
        <li>
          <label><%= t :duration %>:</label>
          <%= trip_duration %>
        </li>
      </ol>
    </fieldset>

  </div>
  <div class="seven columns omega">
    <div class="four columns alpha">
      <fieldset>
        <legend><%= t "headings.driver_details" %></legend>

          <ol>
            <li>
              <label class="long"><%= t :driver_name %>:</label><br/>
              <%= @trip.driver.full_name %>
            </li>
            <br/>
            <li>
              <label class="long"><%= t :gender %>:</label><br/>
              <%= @trip.driver.gender %>
            </li>
            <br/>
            <li>
              <label class="long"><%= t :birthdate %>:</label><br/>
              <%= @trip.driver.dob %>
            </li>
            <br/>
            <li>
              <label class="long"><%= t :location %>:</label><br/>
              <%= @trip.driver.city %>
            </li>
            <br/>

            <li>
              <label class="long"><%= t :message %>:</label><br/>
              <%= @trip.trip_details %>
            </li>
            <br/>
            
          </ol>

        
      </fieldset>
    </div>
    <div class="two columns omega">
      <fieldset>
        <legend><%= t "headings.contact_driver" %></legend>
        <img src="<%= @trip.driver.fb_pic_large_url %>" />
        </br>
        </br>
        <div class="ui-style">
          <form action="http://www.facebook.com/<%= @trip.driver.fb_id %>" target="_blank">­
            <input type="Submit" value="<%= t :contact %> <%= @trip.driver.first_name %>">
          </form>
        </div>
      </fieldset>
    </div>
  </div>
  <!--<%= link_to t(:return_sr), trips_path %>-->
</div>
