
<div class="span-8">

<fieldset>
  <legend>Trip Summary</legend>
  <ol>
    <li>
      <label>From City:</label>
      <%= @trip.from_location.name %>
    </li>
    <li>
      <label>To City:</label>
      <%= @trip.to_location.name %>
    </li>
    <li>
      <label>Departing:</label>
      <b><%= departing_time %></b>
    </li>
    <li>
      <label>Arriving (Est):</label>
      <%= arrival_time %>
    </li>
    <li>
      <label>Cost:</label>
      <%= number_to_currency(@trip.cost, :precision => 0) %>
    </li>
    <li>
      <label>Trip Distance:</label>
      <%= trip_distance %>
    </li>
    <li>
      <label>Trip Duration:</label>
      <%= trip_duration %>
    </li>
  </ol>
</fieldset>


  <%= link_to 'Continue', trips_path %>
</div>
<div class="prepend-1 span-13 last">

  <fieldset>
    <legend>Driver Details</legend>
    <div class="span-7">
      <ol>
        <li>
          <label>Driver Name:</label>
          <%= @trip.driver.full_name %>
        </li>
        <li>
          <label># Trips Driven:</label>
          <%= @trip_count %>
        </li>
        <li>
          <label>Message:</label><br/>
          <%= @trip.trip_details %>
        </li>
        <br/>
        <li>

          <div class="ui-style">
            <form action="http://www.facebook.com/<%= @trip.driver.fb_id %>" target="_blank">­
                <input type="Submit" value="Contact <%= @trip.driver.first_name %>">
            </form>
          </div>
        </li>
      </ol>
    </div>



    <div class="span-5 last">
      <img src="<%= @trip.driver.fb_pic_large_url %>" />
    </div>
  </fieldset>
</div>

