
<table class="dataTable">
  <tr>
    <th>Post ID</td>
    <th>FB Page</td>
    <th>Posted At</th>
    <th>Processed</th>
    <th>Message</th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.id %></td>
    <td><%= post.fb_page(post.page_id) %></td>
    <td><%= l post.post_created_at, :format => :time_date_short %></td>
    <td>11:22</td>
    <td class="message"><%= post.message %></td>
    <td><%= link_to 'Show', new_trip_path %></td>
  </tr>
<% end %>
</table>

