<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <title><%= page_title %></title>
  <!--[if lte IE 9]><%= stylesheet_link_tag 'ie' %><![endif]-->
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "jquery-1.5.2.min", "jquery-ui-1.8.13.custom.min", :cache => true %>
  <%= csrf_meta_tags %>

  <%= yield(:header) %>

  <!-- Facebook Connect -->
  <div id="fb-root"></div>
  <%= javascript_include_tag 'http://connect.facebook.net/en_US/all.js' %>

  <script>
    var fbAppId;
    if (window.location.hostname == "0.0.0.0")
      fbAppId = '119073948160554';
    else
      fbAppId = '163188793727561';

    FB.init({
      appId  : fbAppId,
      status : true, // check login status
      cookie : true, // enable cookies to allow the server to access the session
      xfbml  : true  // parse XFBML
    });

    // Facebook login/logout
    FB.Event.subscribe('auth.login', function(response) {
	    FB.api('/me', function(response) {
	    if(response.name) {
	      var fbId = response.id;
	      $.post("login/user_login", { fb_id: response.id, first_name: response.first_name, last_name: response.last_name, authenticity_token: _token },
		    function(){
		      if(fbId)
		        saveFriendsList(fbId);
		    });
	    }
	    });

	    function saveFriendsList(fbId) {
	    FB.api('/me/friends', function(response) {
	      //$.post("facebookfriends/add", { fb_id: fbId, friend_list: response, authenticity_token: _token },
	      //function(){

	      	window.location = window.location;

	      //});
	    });
	    }
    });

    FB.Event.subscribe('auth.logout', function (response) {
      alert('You have logged out of facebook. Please login to continue');
      location.href = "/";
    });

    FB.getLoginStatus(function(response) {
      if (response.session) {   //connected to facebook

        var imageUrl = "https://graph.facebook.com/" + response.session.uid + "/picture";
        $("#fbLoggedInImage").attr("src",imageUrl).show();

        $("#loginDetailsText").show();
          FB.api('/me', function(response) {
            $("#fbLoggedInName").html(response.name);
          });

      } else {                  //no connection
        $('#fbLoginButton').show();
      }
    });




    // is this needed?????
    function logout()
    {
      FB.logout(function(response) {
        $("#fbLoggedInImage").hide();
      });
    }
  </script>

  <!-- authenticity_token -->
  <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>;
</head>
<body <%= yield(:body_attr) %>>

  <div class="container corner-top corner-bottom showgrid">

      <div class="span-24 prepend-top">
		  <div class="prepend-1 span-9">
        <a href="/">
          <%= image_tag("logo.png", :alt => "Cocoride logo", :class => "round") %>
        </a>
      </div>

      <div class="span-9 tabs-container">
		    <ul class="tabs">
          <li><%= link_to "Home", root_url %></li>
		      <li><%= link_to "Search Trips", trips_url %></li>
		      <li><%= link_to "Post Trip", new_trip_url %></li>
		      <li><a href="#">About</a></li>
        </ul>
		  </div>

		  <div id="loginDetails" class="span-4 append-1 last" style="vertical-align: baseline;">
		    <fb:login-button autologoutlink="false" perms="email" size="large" length="short" id="fbLoginButton" style="display:none;"></fb:login-button>
	      <div id="loginDetailsImage">
          <img id="fbLoggedInImage" src="" style="display:none;"/>
        </div>
        <div id="loginDetailsText" style="display:none;">
          <ul>
            <li><span id="fbLoggedInName" class="fbName"></span></li>
            <li></li>
            <li><a class="fbLink" href="javascript:logout()">Logout</a></li>
          </ul>
        </div>
		  </div>
      </div>
      <div class="span-24"></div>

    <%= yield %>

	  <div class="span-24" >
			  <p id="footerText">Copyright© Pavesiu 2011.</p>
	  </div>

  </div><!--end outer-->

</body>
</html>

