<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <title><%= t(:site_name) %></title>
  <meta name="description" content="<%= page_description %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--[if lte IE 9]><%= stylesheet_link_tag 'ie' %><![endif]-->
  <%= stylesheet_link_tag    "application", "pagination" %>
  <%= javascript_include_tag "application", "jquery-1.5.2.min", "jquery-ui-1.8.13.custom.min", "jquery.tools.min", "jquery-ui-init" %>

  <% if t(:current_lng) == "lt" %>
    <%= javascript_include_tag "jquery.ui.datepicker-lt" %>
  <% end %>

  <%= csrf_meta_tags %>

  <%= yield(:header) %>

  <script>
    // this needs to go here rather than in .erb.js file, as locale is not set correctly in .erb.js file
    // "locale" is used in javascript code throughout the application
    locale = "<%= I18n.locale %>";

	  $(function() {
	      $( "input:submit, a, button", ".ui-style" ).button();
	      $( "a", ".ui-style" ).click(function() { return false; });

	      $("#topPan ul li").removeClass("selected");
	      $("#<%= @selected_tab %>").addClass("selected");
      
      	      fitToDevice();
	  });
    
    $(window).resize(function () { 
      fitToDevice();
    });
    
    function fitToDevice()
    {
      if (window.innerWidth < 960){
        $("#uvTab").hide();
      }
      if (window.innerWidth < 600){
        //move paypal and language icons to bottom
        //$("#loginDetails").hide();
        $("#loginDetailsImage").css({'margin-left':'35px','margin-top' : '30px', 'margin-bottom' : '-50px'});
        $("#lan").insertAfter($('#main_content'));
      }
      else if (window.innerWidth > 960){
        //$("#loginDetails").css({'margin-left':'-80px'});
        $("#topPan").show();
        $("#midPan").show();
        $("#uvTab").show();
      }
    }

    
  </script>

  <link rel="shortcut icon" href="/assets/<%=(I18n.locale.to_s)%>/favicon.ico" />
  <%= javascript_include_tag "feedback" %>
  <%= javascript_include_tag "google-analytics" %>
  <!-- authenticity_token -->
  <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>;
</head>
<body <%= yield(:body_attr) %>>

  <div class="container corner-top corner-bottom sixteen columns">
     <div class="sixteen columns" id="main container">
	    <div class="row" id="header top">
		    <div class="eleven columns alpha" id="logo">        
			    <a href="/">
			      <%= image_tag("#{I18n.locale}/logo.png", :alt => "#{t(:site_name)} logo") %>
			    </a>
		    </div>
        <div class="four columns omega">   
          <div id="lan" class="two columns alpha">
             <%= link_to(image_tag("lt_flag.png", :alt => "Lithuanian version", :title => "Versti į lietuvių"), :locale => :lt) %> Lithuanian
             <br/>
             <%= link_to(image_tag("en_flag.png", :alt => "Australian version", :title => "Translate to English"), :locale => :au) %> Australian
             <br/>
             <%= link_to(image_tag("ca_flag.png", :alt => "Canadian version", :title => "Translate to English"), :locale => :ca) %> Canadian
          </div>	
          <div id="loginDetailsImage" class="two columns omega">
            <ul>
            <% if !(request.fullpath).include? "sign_in" %>	              
              <li>
                <%= fb_image_url %>
              </li>
              <% if user_signed_in? %>
                <li>
                <span class="fbName"><%= current_user.full_name %></span>
                <li/>
                <li id="noDec">
                <%= link_to(t("logout"), destroy_user_session_path, :method => :delete) %>
                </li>
              <% else %>
                <li>
                <%= link_to(t("login"), new_user_session_path) %>
                or <%= link_to "sign up", new_user_registration_path %>
                </li>
              <% end %>
            <% end %>
          </div>
        </div>                  	
      </div>
      <div class="row" id="bottom header">
        <div id="topPan" class="ten columns">
            <ul>
	            <!--  <li id="home" class="selected"><%= link_to(t("tabs.home"), root_url) %></li> -->
		          <li id="search"><%= link_to(t("tabs.search"), trips_url) %></li>
		          <li id="post"><%= link_to(t("tabs.post"), new_trip_url)%></li>
		          <li id="my_trips"><%= link_to(t("tabs.my_trips"), my_trips_url)%></li>
		          <li id="events"><%= link_to(t("tabs.events"), events_url) %></li> 
		          <!-- <li id="about"><a href="#"><%= t("tabs.about") %></a></li> -->
		        </ul>
        </div>
        <div id="right hand corner" class="four columns omega">   
          
          
          
        </div> <!--right hand corner-->
	    </div> <!--bottom header-->
      <div class="row" id="header middle">
        
        <div class="one columns omega">
          
        </div>
      </div> <!--header middle-->	
      <div id="main_content" class="row">

          <% if notice %>
            <p class="notice"><%= notice %></p>
          <% end %>

          <% if alert %>
            <p class="alert"><%= alert %></p>
          <% end %>

          <%= yield %>
      </div>
      <div id="topFooter" class="sixteen columns">	
	      <div id="paypal" class="three columns omega">
	        <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
	          <input type="hidden" name="cmd" value="_s-xclick">
	          <input type="hidden" name="hosted_button_id" value="<%= paypal_hosted_button_id %>">
	          <input type="image" src="https://www.paypalobjects.com/en_AU/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal The safer, easier way to pay online.">
	          <img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1">
	        </form>
	      </div>
      </div>
      <div class="sixteen columns" id="footer">
         <br/>
		    <p id="footerText"><a href="http://ourdisclaimer.com/?i=Pavesiu.lt" target="_blank">Privacy</a> | <a href="http://ourdisclaimer.com/?i=Pavesiu.lt" target="_blank">Terms & Conditions</a></p>
      </div>

  </div><!--end container-->

</body>
</html>

