<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <title><%= page_title %></title>
  <!--[if lte IE 9]><%= stylesheet_link_tag 'ie' %><![endif]-->
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", "jquery-1.5.2.min", "jquery-ui-1.8.13.custom.min", "jquery.tools.min", "jquery-ui-init" %>
  <%= csrf_meta_tags %>

  <%= yield(:header) %>

  <script>
    // this needs to go here rather than in .erb.js file, as local is not set correctly in .erb.js file
    // "locale" is used in javascript code throughout the application
    locale = "<%= I18n.locale %>";

	  $(function() {
		  $( "input:submit, a, button", ".ui-style" ).button();
		  $( "a", ".ui-style" ).click(function() { return false; });

		  $("#topPan ul li").removeClass("selected");
		  $("#<%= @selected_tab %>").addClass("selected");
	  });
  </script>

  <!-- authenticity_token -->
  <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>;
</head>
<body <%= yield(:body_attr) %>>

  <div class="container corner-top corner-bottom">

      <div class="span-24 prepend-top">
		  <div class="prepend-1 span-10">
        <a href="/">
          <%= image_tag("logo.png", :alt => "Cocoride logo", :class => "round") %>
        </a>
      </div>

		  <div class="span-13 last">
		    <div id="loginDetails" class="append-1 span-12 last">

	        <div id="loginDetailsImage">
            <%= fb_image_url %>
          </div>
          <div id="loginDetailsText">
            <div id="user_nav">
              <% if user_signed_in? %>
                <span class="fbName"><%= current_user.full_name %></span>
                <br/>
                  <%= link_to(t("logout"), destroy_user_session_path, :method => :delete) %>
              <% else %>
                <%= link_to(t("login"), new_user_session_path) %>
                <!-- DISABLE NON-FACEBOOK
                or <%= link_to "sign up", new_user_registration_path %>
                <!-->
              <% end %>
            </div>
          </div>
        </div>

        <div class="append-1 span-13 last">
		      <div id="topPan">
		        <ul>
              <li id="home" class="selected"><%= link_to(t("tabs.home"), root_url) %></li>
		          <li id="search"><%= link_to(t("tabs.search"), trips_url) %></li>
		          <li id="post"><%= link_to(t("tabs.post"), new_trip_url)%></li>
		          <li id="my_trips"><%= link_to(t("tabs.my_trips"), my_trips_url)%></a></li>
		          <li id="about"><a href="#"><%= t("tabs.about") %></a></li>
            </ul>
           </div>
		      </div>
		    </div>

      </div>

      <div class="prepend-1 span-22 append-1">

        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% end %>

        <% if alert %>
          <p class="alert"><%= alert %></p>
        <% end %>

        <%= yield %>
      </div>

	  <div class="span-24" >
			  <p id="footerText">Privacy | Terms & Conditions | FAQ's | Contact Us</p>
	  </div>

  </div><!--end outer-->

</body>
</html>

